.form-container {
  margin-bottom: 15px;
  padding: 15px;
  max-width: 300px;
  min-width: 300px;
  flex: 0 0 350px;
  height: 400px;
  display: flex;
  flex-direction: column;
  text-align: start;
  border: 3px solid black;
  border-radius: 15px;
}
